$azul: #3E5680;
$vermelho: #FF755F;
$laranja: #FFB435;

//custom function
@function fixBorder($cor){
  @return desaturate(darken($cor, 25%), 50%);
}

// mixin=function+heritage+nesting
@mixin geraBorda($cor){
  @extend .box;
  background-color: $cor;
  //darken is a sass function
  border-color: fixBorder($cor);
}

body{
  font-size: 20px;
}

.box{
  border: 5px solid;
  padding: 20px;
  margin: 20px auto;
}

.azul{
  color: white;
  //set a default color in case of the $azul variable were not setted
  $azul: navy !default;
  //call the mixin
  @include geraBorda($azul);
}

.vermelho{
  @extend .box;
  color: darkred;
  border-color: red;
  background-color: fixBorder($vermelho);
}

.laranja{
  @extend .box;
  color: orangered;
  border-color: orange;
  background-color: fixBorder($laranja);
}
