body{
  font-size: 20px;
}

.box{
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;
}

.azul{
  @extend .box;
  color: mediumblue;
  border-color: blue;
}

.vermelho{
  @extend .box;
  color: darkred;
  border-color: red;
}

.laranja{
  @extend .box;
  color: orangered;
  border-color: orange;
}
